/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Log ###
/catalina.base_IS_UNDEFINED/

src/main/resources/static/dist/*
src/main/resources/templates/
src/main/resources/upload/*
src/main/resources/picture/*

with -a does not make sense.
.vscode/