<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.site.mountain.dao.mysql.SysRoleDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.site.mountain.entity.SysRole">
        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="remark" property="remark"/>
        <result column="dept_id" property="deptId"/>
        <result column="create_time" property="createTime"/>
        <collection property="menus" column="role_id" select="com.site.mountain.dao.mysql.SysMenuDao.selectByRoleId"/>
        <collection property="depts" column="role_id" select="com.site.mountain.dao.mysql.SysDeptDao.selectByRoleId"/>
    </resultMap>

    <sql id="all_column">
		`role_id`,
		`role_name`,
		`remark`,
		`dept_id`,
		`create_time`

    </sql>

    <insert id="insertSelective">
	INSERT INTO sys_role (
		`role_id`,
		`role_name`,
		`remark`,
		`dept_id`,
		`create_time`,

	) VALUES ( 
		#{pojo.roleId},
		#{pojo.roleName},
		#{pojo.remark},
		#{pojo.deptId},
		#{pojo.createTime},
	) 

    </insert>

    <!--有条件插入-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="roleId" parameterType="com.site.mountain.entity.SysRole">
        INSERT INTO sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId!=null">`role_id`,</if>
            <if test="roleName!=null">`role_name`,</if>
            <if test="remark!=null">`remark`,</if>
            <if test="deptId!=null">`dept_id`,</if>
            <if test="1==1">`create_time`,</if>

        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId!=null">#{roleId},</if>
            <if test="roleName!=null">#{roleName},</if>
            <if test="remark!=null">#{remark},</if>
            <if test="deptId!=null">#{deptId},</if>
            <if test="1==1">SYSDATE(),</if>

        </trim>
    </insert>
    <insert id="insertRoleAndMenu" parameterType="com.site.mountain.entity.SysRole">
        insert into sys_role_menu (role_id,menu_id) values
        <foreach collection="menus" item="menu" separator=",">
            (#{roleId},#{menu.menuId})
        </foreach>

    </insert>
    <insert id="insertRoleAndDept" parameterType="com.site.mountain.entity.SysRole">
        insert into sys_role_dept (role_id,dept_id) values
        <foreach collection="depts" item="dept" separator=",">
            (#{roleId},#{dept.deptId})
        </foreach>

    </insert>

    <select id="findList" parameterType="com.site.mountain.entity.SysRole" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_role
        <where>
            <if test="roleId != null and roleId != ''">AND role_id = #{roleId}</if>
            <if test="roleName != null and roleName != ''">AND role_name = #{roleName}</if>
            <if test="remark != null and remark != ''">AND remark = #{remark}</if>
            <if test="deptId != null and deptId != ''">AND dept_id = #{deptId}</if>

        </where>
        order by create_time desc
    </select>

    <delete id="delete" parameterType="com.site.mountain.entity.SysRole">
        DELETE from sys_role
        <where>
            <if test="roleId != null and roleId != ''">AND role_id = #{roleId}</if>
            <if test="roleName != null and roleName != ''">AND role_name = #{roleName}</if>
            <if test="remark != null and remark != ''">AND remark = #{remark}</if>
            <if test="deptId != null and deptId != ''">AND dept_id = #{deptId}</if>
            <if test="createTime != null and createTime != ''">AND create_time = #{createTime}</if>

        </where>
    </delete>
    <delete id="deleteRoleMenu" parameterType="com.site.mountain.entity.SysRole">
        DELETE from sys_role_menu where role_id = #{roleId}
    </delete>
    <delete id="deleteRoleDept" parameterType="com.site.mountain.entity.SysRole">
        DELETE from sys_role_dept where role_id = #{roleId}
    </delete>

    <update id="update" parameterType="com.site.mountain.entity.SysRole">
        UPDATE sys_role
        <set>
            <if test="pojo.roleName != null">`role_name` = #{pojo.roleName},</if>
            <if test="pojo.remark != null">`remark` = #{pojo.remark}</if>
        </set>
        WHERE role_id = #{pojo.roleId}
    </update>
    <select id="selectByUserId" parameterType="java.math.BigInteger" resultType="java.lang.Integer">
        SELECT r.role_id from sys_role r, sys_user_role ur
        WHERE r.role_id = ur.role_id
        AND user_id = #{user_id}
    </select>

    <select id="selectRolesByUserId" parameterType="java.math.BigInteger" resultMap="AllColumnMap">
        SELECT r.* from sys_role r, sys_user_role ur
        WHERE r.role_id = ur.role_id
        AND user_id = #{user_id}
    </select>


</mapper>

