<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.site.mountain.dao.mysql.SysRoleMenuDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.site.mountain.entity.SysRoleMenu">
		<result column="menu_id" property="menuId"/>
		<result column="role_id" property="roleId"/>
		<result column="id" property="id"/>

    </resultMap>

    <sql id="all_column">
		`menu_id`,
		`role_id`,
		`id`,

    </sql>

    <insert id="insertSelective">
	INSERT INTO sys_role_menu (
		`menu_id`,
		`role_id`,
		`id`,

	) VALUES ( 
		#{pojo.menuId},
		#{pojo.roleId},
		#{pojo.id},
	) 

    </insert>

    <!--有条件插入-->
    <insert id="insert">
        INSERT INTO sys_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.menuId!=null">`menu_id`,</if> 
			<if test="pojo.roleId!=null">`role_id`,</if> 
			<if test="pojo.id!=null">`id`,</if> 

        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.menuId!=null">#{pojo.menuId},</if> 
			<if test="pojo.roleId!=null">#{pojo.roleId},</if> 
			<if test="pojo.id!=null">#{pojo.id},</if> 

        </trim>
    </insert>

    <select id="findList" parameterType="com.site.mountain.entity.SysRoleMenu" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_role_menu
        <where>
			<if test="menuId != null">AND name = #{menu_id}</if>
			<if test="roleId != null">AND name = #{role_id}</if>
			<if test="id != null">AND name = #{id}</if>

        </where>
    </select>
    <select id="findCount" parameterType="com.site.mountain.entity.SysRoleMenu" resultType="java.lang.Integer">
        select count(1)
        from sys_role_menu
        <where>
			<if test="menuId != null">AND menu_id = #{menuId}</if>
			<if test="roleId != null">AND role_id = #{roleId}</if>
			<if test="id != null">AND id = #{id}</if>
        </where>
    </select>

    <delete id="delete" parameterType="com.site.mountain.entity.SysRoleMenu">
        DELETE from sys_role_menu
        <where>
			<if test="menuId != null">AND name = #{menu_id}</if>
			<if test="roleId != null">AND name = #{role_id}</if>
			<if test="id != null">AND name = #{id}</if>

        </where>
    </delete>


</mapper>

