<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.site.mountain.dao.mysql.SysUserRoleDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.site.mountain.entity.SysUserRole">
		<result column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="role_id" property="roleId"/>

    </resultMap>

    <sql id="all_column">
		`id`,
		`user_id`,
		`role_id`
    </sql>

    <insert id="insertSelective">
	INSERT INTO sys_user_role (
		`id`,
		`user_id`,
		`role_id`

	) VALUES ( 
		#{pojo.id},
		#{pojo.userId},
		#{pojo.roleId}
	) 

    </insert>

    <!--有条件插入-->
    <insert id="insert">
        INSERT INTO sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.id!=null">`id`,</if> 
			<if test="pojo.userId!=null">`user_id`,</if> 
			<if test="pojo.roleId!=null">`role_id`,</if> 

        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.id!=null">#{pojo.id},</if> 
			<if test="pojo.userId!=null">#{pojo.userId},</if> 
			<if test="pojo.roleId!=null">#{pojo.roleId},</if> 

        </trim>
    </insert>

    <select id="findList" parameterType="com.site.mountain.entity.SysUserRole" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_user_role
        <where>
			<if test="id != null">AND id = #{id}</if>
			<if test="userId != null">AND user_id = #{userId}</if>
			<if test="roleId != null">AND role_id = #{roleId}</if>
        </where>
    </select>

    <delete id="delete" parameterType="com.site.mountain.entity.SysUserRole">
        DELETE from sys_user_role
        <where>
			<if test="id != null">AND name = #{id}</if>
			<if test="userId != null">AND name = #{user_id}</if>
			<if test="roleId != null">AND name = #{role_id}</if>

        </where>
    </delete>


</mapper>

