<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.site.mountain.dao.test1.UserInfoDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.site.mountain.entity.UserInfo">
        <id column="uid" property="uid"/>
        <result column="username" property="username"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="state" property="state"/>
    </resultMap>
    <resultMap id="userRoleListMap" extends="AllColumnMap" type="com.site.mountain.entity.UserInfo">
        <collection property="roleList" columnPrefix="role_"
                    ofType="com.site.mountain.entity.SysRole"
                    resultMap="com.site.mountain.dao.test1.SysRoleDao.AllColumnMap">
        </collection>
        <collection property="permissions" columnPrefix="p_"
                    ofType="com.site.mountain.entity.SysPermission"
                    resultMap="com.site.mountain.dao.test1.SysPermissionDao.AllColumnMap">
        </collection>
    </resultMap>
    <select id="selectAllMenuAndRoles" parameterType="com.site.mountain.entity.SysUser"
            resultMap="userRoleListMap">
        SELECT u.*,
        r.id role_id,
        r.role role_role,
        r.description role_description,
        r.available role_available,
        p.id p_id,
        p.`name` p_name,
        p.available p_available,
        p.parent_id p_parent_id ,
        p.parent_ids p_parent_ids,
        p.permission p_permission,
        p.resource_type p_resource_type,
        p.url p_url
        from user_info u,sys_role r,sys_user_role ur,sys_permission p,sys_role_permission rp
        <where>
            <if test="1==1">
                AND  u.uid = ur.uid and r.id = ur.role_id and p.id = rp.permission_id and r.id = rp.role_id
            </if>
            <if test="username != null and username != ''">
                AND u.username = #{username}
            </if>
        </where>
        -- where u.uid = ur.uid and r.id = ur.role_id
    </select>

    <!--auto generated Code-->
    <sql id="all_column">
        `uid`,
        `username`,
        `name`,
        `password`,
        `salt`,
        `state`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.uid">
        INSERT INTO user_info (
            `uid`,
            `username`,
            `name`,
            `password`,
            `salt`,
            `state`
        ) VALUES (
            #{pojo.uid},
            #{pojo.username},
            #{pojo.name},
            #{pojo.password},
            #{pojo.salt},
            #{pojo.state}
        )
    </insert>
    <insert id="add" useGeneratedKeys="true" keyProperty="pojo.uid">
        INSERT INTO user_info (
            `username`,
            `name`,
            `password`
        ) VALUES (
            #{pojo.username},
            #{pojo.name},
            #{pojo.password}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.uid">
        INSERT INTO user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.uid!=null">`uid`,</if>
            <if test="pojo.username!=null">`username`,</if>
            <if test="pojo.name!=null">`name`,</if>
            <if test="pojo.password!=null">`password`,</if>
            <if test="pojo.salt!=null">`salt`,</if>
            <if test="pojo.state!=null">`state`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.uid!=null">#{pojo.uid},</if>
            <if test="pojo.username!=null">#{pojo.username},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.password!=null">#{pojo.password},</if>
            <if test="pojo.salt!=null">#{pojo.salt},</if>
            <if test="pojo.state!=null">#{pojo.state},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO user_info (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.uid},
            #{pojo.username},
            #{pojo.name},
            #{pojo.password},
            #{pojo.salt},
            #{pojo.state}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE user_info
        <set>
            <if test="pojo.uid != null">`uid` = #{pojo.uid},</if>
            <if test="pojo.username != null">`username` = #{pojo.username},</if>
            <if test="pojo.name != null">`name` = #{pojo.name},</if>
            <if test="pojo.password != null">`password` = #{pojo.password},</if>
            <if test="pojo.salt != null">`salt` = #{pojo.salt},</if>
            <if test="pojo.state != null">`state` = #{pojo.state}</if>
        </set>
        WHERE uid = #{pojo.uid}
    </update>

    <!--auto generated by codehelper on 2018-08-08 16:27:20-->
    <select id="findList" parameterType="com.site.mountain.entity.UserInfo" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from user_info
        <where>
            <if test="name != null and name != ''">
              AND name = #{name}
            </if>
            <if test="username != null and username != ''">
                <bind name="pattern" value="'%' + username + '%'" />
                AND username LIKE  #{pattern}
            </if>
        </where>
    </select>
    <delete id="delete" parameterType="com.site.mountain.entity.UserInfo">
        DELETE from user_info where uid = #{uid}
    </delete>
</mapper>

